# ===== Logs =====
logs/
*.log

# ===== Build =====
/build/
/out/
/target/

# ===== Gradle =====
.gradle/

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env =====
.env
application-*.properties
application-*.yml
